.additional-catalog {
  min-height: 964px;
  padding: 0 20px;
}

.additional-catalog__title {
  position: relative;
  font-size: 24px;
  line-height: 79px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 5px;

  border-bottom: 1px solid $border-catalog-table;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 53px;
    background-color: $green;
    top: 50%;
    right: -20px;
  }
}

.additional-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.additional-catalog__item {
  display: flex;
  flex-direction: column;
  min-height: 128px;

  border-bottom: 1px solid $border-catalog-table;
}

.additional-catalog__item-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 9px;
}

.additional-catalog__table {
  margin-bottom: 10px;
  font-family: $side-text;
  width: 100%;
}

.additional-catalog__button {
  margin-top: auto;
  margin-bottom: 17px;
  width: 100%;
}

.additional-catalog__price {
  text-align: right;
}

.additional-catalog__image {
  position: relative;
  width: 100%;
  height: 289px;
  margin-top: 39px;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  & svg {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);

    fill: $white;
  }
}

.additional-catalog__image-text {
  position: absolute;
  text-align: center;
  width: 150px;
  bottom: 9%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 16px;
  line-height: 20px;
  font-family: $side-text;
  color: $white;
}

@media (min-width: $tablet-width) {
  .additional-catalog {
    min-height: 1084px;
    padding: 0 30px;
    margin: 0;
  }

  .additional-catalog__title {
    font-size: 36px;
    line-height: 182px;
    padding-left: 38px;

    &::after {
      width: 327px;
      top: 52%;
      right: -30px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 28px;
      background-color: $green;
      top: 52%;
      left: -30px;
    }
  }

  .additional-catalog__item {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    min-height: 139px;
    padding: 0 37px;
  }

  .additional-catalog__item-title,
  .additional-catalog__table {
    width: 50%;
    margin-top: 27px;
  }

  .additional-catalog__item-title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-catalog__table {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-catalog__amount {
    text-align: right;
  }

  .additional-catalog__price {
    width: 95px;
  }

  .additional-catalog__image {
    height: 200px;
    margin-top: 69px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    & svg {
      top: 50%;
      left: 12%;
      transform: translateY(-50%);
    }
  }

  .additional-catalog__image-text {
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    margin: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog {
    display: flex;
    flex-wrap: wrap;

    min-height: 571px;
    padding: 0 40px;
  }

  .additional-catalog__title {
    line-height: 191px;
    padding-left: 40px;
    width: 100%;
    max-height: 194px;

    border: none;

    &::after {
      width: 886px;
      right: -70px;
    }

    &::before {
      width: 70px;
      left: -70px;
    }
  }

  .additional-catalog__list {
    width: 895px;
    margin-bottom: 86px;

    border-top: 1px solid $border-catalog-table;
  }

  .additional-catalog__item {
    flex-wrap: nowrap;
    align-items: center;
    min-height: 72px;
    height: 72px;
    padding: 0;
  }

  .additional-catalog__item-title,
  .additional-catalog__table,
  .additional-catalog__button {
    margin: 0;
  }

  .additional-catalog__item-title {
    width: 245px;
    padding-right: 80px;
  }

  .additional-catalog__table {
    max-width: 351px;
  }

  .additional-catalog__amount,
  .additional-catalog__price {
    text-align: left;
  }

  .additional-catalog__button {
    flex-shrink: 0;
    width: 245px;
  }

  .additional-catalog__image {
    width: 245px;
    height: auto;
    margin: 0 40px 86px auto;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    & svg {
      top: 22%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .additional-catalog__image-text {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 40px;
  }
}
