.form {
  min-height: 1358px;
}

.form__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding: 0 20px;
  padding-top: 14px;
  margin: 0 0 24px 0;
  border-top: 1px solid $border-grey;
}

.form__title-text {
  text-transform: uppercase;
  padding: 0 20px;
  width: 228px;
  margin: 0;
  margin-bottom: 40px;
}

.form__contacts-title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 30px 20px;
  margin: 0;

  border-top: 1px solid $border-catalog-top;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 99px;
    height: 3px;
    right: 0;
    top: 39%;
    background-color: $green;
  }
}

.form__comment-title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 20px;
  padding-bottom: 33px;
  margin: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 158px;
    height: 3px;
    right: 0;
    top: 25%;
    background-color: $green;
  }
}

.form__textarea {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $text-black;
  resize: none;

  height: 122px;
  width: 251px;
  margin-left: 20px;
  margin-bottom: 27px;
  padding: 13px;
}

.form__additional-title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 20px;
  padding-bottom: 32px;
  margin: 0;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 136px;
    height: 3px;
    right: 0;
    top: 25%;
    background-color: $green;
  }
}

.form__button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.form__button {
  display: block;
  width: 100%;
}

.form__required-text {
  font-size: 14px;
  line-height: 16px;
  font-family: $side-text;
  margin-top: 22px;
  margin-bottom: 32px;
  color: $text-black;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
    padding-top: 16px;
    margin-bottom: 56px;
    border: none;
  }

  .form__title-text {
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
    width: 325px;
    margin-bottom: 69px;
  }

  .form__contacts-title {
    font-size: 36px;
    line-height: 36px;
    padding: 70px;
    padding-top: 77px;
    padding-bottom: 76px;
    border: none;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 145px;
      height: 3px;
      right: 0;
      top: 52%;
      background-color: $green;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      left: 0;
      top: 52%;
      background-color: $green;
    }
  }

  .form__comment-title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 70px;
    padding-bottom: 76px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 479px;
      height: 3px;
      right: 0;
      top: 19%;
      background-color: $green;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      left: 0;
      top: 19%;
      background-color: $green;
    }
  }

  .form__textarea {
    margin: 0 70px;
    margin-bottom: 63px;
    padding-left: 19px;
    padding-top: 10px;
    width: 597px;
    min-height: 150px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__additional-title {
    font-size: 36px;
    line-height: 36px;
    padding: 0 70px;
    padding-bottom: 60px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 446px;
      height: 3px;
      right: 0;
      top: 22%;
      background-color: $green;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 3px;
      left: 0;
      top: 22%;
      background-color: $green;
    }
  }

  .form__button-block {
    flex-direction: row;
    padding: 0 70px;
    min-height: 52px;
    margin-bottom: 72px;
  }

  .form__button {
    width: 283px;
    min-height: 52px;
    margin-right: 60px;
    font-size: 20px;
    line-height: 52px;
  }

  .form__required-text {
    font-size: 16px;
    line-height: 52px;
    margin: 0;
  }
}


@media (min-width: $desktop-width) {
  .form {
    padding: 0 7.7%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .form__title {
    padding: 0;
    padding-top: 35px;
    margin-bottom: 55px;
  }

  .form__title-text {
    padding: 0;
    margin-bottom: 65px;
  }

  .form__lists-wrapper {
    display: flex;
    margin-bottom: 68px;
  }

  .form__contacts-title {
    padding: 0;
    padding-bottom: 74px;

    &::after {
      width: 761px;
      right: -110px;
      top: 20%;
    }

    &::before {
      width: 70px;
      left: -110px;
      top: 20%;
    }
  }

  .form__comment-title {
    padding: 0;
    padding-bottom: 74px;

    &::after {
      width: 1095px;
      right: -110px;
      top: 19%;
    }

    &::before {
      width: 70px;
      left: -110px;
      top: 19%;
    }
  }

  .form__textarea {
    margin: 0;
    margin-bottom: 64px;
    width: 1186px;
  }

  .form__additional-title {
    padding: 0;
    padding-bottom: 60px;

    &::after {
      width: 1060px;
      right: -110px;
      top: 22%;
    }

    &::before {
      width: 70px;
      left: -110px;
      top: 22%;
    }
  }

  .form__button-block {
    padding: 0;
    margin-bottom: 84px;
  }

  .form__button {
    width: 570px;
    margin-right: 80px;
  }

  .form__required-text {
    font-size: 16px;
    line-height: 52px;
    margin: 0;
  }
}
