.howitworks {
  padding: 0 20px;
  margin-bottom: 49px;
}

.howitworks__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}

.howitworks__list {
  list-style: none;
  padding: 0;
  padding-left: 80px;
  margin-top: 31px;
}

.howitworks__text {
  font-family: $side-text;
  color: $text-black;
  margin: 0;
}

.howitworks__item {
  margin-bottom: 26px;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-color: $green;
    width: 60px;
    height: 60px;
    position: absolute;
    left: -80px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.howitworks__item--healthy {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 83%;
    }
  }
}

.howitworks__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 83%;
  }
}

.howitworks__item--functionalfood::before {
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 83%;
  }
}

.howitworks__item--changes::before {
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 83%;
  }
}

@media (min-width: $tablet-width) {
  .howitworks {
    padding: 0 30px;
    margin-top: 14px;
    margin-bottom: 59px;
  }

  .howitworks__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  .howitworks__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .howitworks__item {
    max-width: 324px;
    min-height: 228px;
    margin: 0;

    &::before {
      width: 80px;
      height: 80px;
      left: 0;
    }
  }

  .howitworks__text {
    padding-top: 112px;
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }

  .howitworks__item--healthy {
    margin-right: 139px;
    padding-bottom: 89px;

    &::after {
      position: absolute;
      content: "1";
      font-size: 281px;
      color: $grey;
      top: 93px;
      right: 16px;
      z-index: -1;
    }
  }

  .howitworks__item--powder {
    &::after {
      position: absolute;
      content: "2";
      font-size: 281px;
      color: $grey;
      top: 93px;
      right: -2px;
      z-index: -1;
    }
  }

  .howitworks__item--functionalfood {
    margin-right: 139px;

    &::after {
      position: absolute;
      content: "3";
      font-size: 281px;
      color: $grey;
      top: 93px;
      right: -2px;
      z-index: -1;
    }
  }

  .howitworks__item--changes {
    & .howitworks__text {
      max-width: 245px;
    }

    &::after {
      position: absolute;
      content: "4";
      font-size: 281px;
      color: $grey;
      top: 93px;
      right: -2px;
      z-index: -1;
    }
  }
}

@media (min-width: $desktop-width) {
  .howitworks {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 7.6%;
    margin-top: 43px;
    min-width: 1220px;
    margin-bottom: 30px;

  }

  .howitworks__item {
    max-width: 245px;
    margin-right: 80px;
    padding-bottom: 0;

    &--changes {
      margin-right: 0;
    }
  }
}
