.info-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: 163px;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-catalog-top;
}

.info-list__item {
  text-transform: uppercase;
  min-height: 45px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.info-list__name,
.info-list__value {
  font-size: 16px;
  line-height: 18px;
}

.info-list__name {
  white-space: nowrap;
}

.info-list__value {
  appearance: textfield;
  height: 39px;
  width: 100%;
  padding-left: 15px;
  margin-left: 14px;
  border: 1px solid $border-grey;

  &:hover {
    border: 1px solid $border-catalog-table;
    appearance: number-input;
  }

  &:focus {
    border: 1px solid $border-catalog-table;
    outline: none;
    appearance: number-input;
  }

  &:active {
    border: 2px solid $text-black;
    outline: none;
  }

  &:required:invalid {
    border: 2px solid $error-color;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .info-list {
    padding: 0 70px;
    margin-bottom: 75px;
    border: none;
  }

  .info-list__name,
  .info-list__value {
    font-size: 20px;
    line-height: 20px;
  }

  .info-list__value {
    margin-left: 19px;
    min-height: 44px;
  }

  .info-list__item {
    min-height: 50px;

    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .info-list {
    padding-left: 0;
    padding-right: 80px;
    width: 570px;
    min-height: 196px;
    margin: 0;
    flex-shrink: 0;
  }

  .info-list__item {
    min-height: 52px;

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }

  .info-list__value {
    height: 48px;
  }
}
