.main-nav {
  padding-top: 21px;
  height: 40px;
  // min-height: 241px;
}

.main-nav__list {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  left: 0;
  top: 65px;
  text-align: center;
  min-width: 320px;


  text-transform: uppercase;
  color: $black;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid $border-grey;
}

.main-nav__toggler {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

@media (max-width: $mobile-only) {
  .main-nav--closed {
    min-height: 40px;
  }

  .main-nav--closed .main-nav__toggler {
    width: 24px;
    height: 18px;
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened {
    min-height: 241px;
  }

  .main-nav--opened .main-nav__toggler {
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
  }

  .main-nav--nojs {
    min-height: 241px;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggler {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    padding: 0;
    min-height: auto;
  }

  .main-nav__list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    min-width: 440px;
    border: 0;
  }

  .main-nav__toggler {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    font-size: 20px;
    min-width: 478px;
  }
}
