.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 11px 20px 16px 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.page-header__logo {
  height: 53px;
  padding-top: 13px;
  width: 191px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: auto;
    margin-top: 20px;
    margin-bottom: 46px;
    padding: 0 30px;
  }

  .page-header__logo {
    padding: 0;
    padding-top: 4px;
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--desktop-position {
    position: absolute;
    z-index: 1;
  }

  .page-header {
    max-width: 100vw;
    width: 84.7%;
    margin-top: 50px;
    padding: 0 7.6%;
  }

  .page-header__logo {
    width: 202px;
  }
}
