.social__item--vk {
  padding-left: 73px;
  padding-right: 37px;
}

.social__item--inst {
  padding-right: 40px;
}

.social__item a {
  & svg {
    fill: $icon-color;
  }

  &:hover svg,
  &:focus svg {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__item--vk {
    padding-left: 24px;
  }
}
