.stats-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-list__main-text {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  height: 38px;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 8px;
  border: 1px solid #cdcdcd;
  border-radius: 5%;
}

.stats-list__side-text {
  position: absolute;
  color: $text-black;
  font-family: $side-text;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  width: 82px;
  left: 20px;
  top: 47px;
  background-color: $grey;
}

@media (min-width: $tablet-width) and (max-width: $tablet-only) {
  .stats-list__side-text {
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .stats-list__main-text {
    width: 161px;
    font-size: 30px;
    line-height: 37px;
    min-height: 55px;
  }

  .stats-list__side-text {
    font-size: 14px;
    line-height: 14px;
    width: 114px;
    top: 65px;
    left: 24px;

    &--width {
      width: 145px;
      left: 9px;
    }
  }
}

@media (min-width: $desktop-width) {
  .stats-list__main-text {
    width: 160px;
  }

  .stats-list__side-text {
    width: 140px;
    left: 12px;
  }

  .stats-list__item--margin {
    margin-right: 73px;
  }
}
