.additional-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 156px;
  padding: 0 20px;
  padding-bottom: 34px;
  margin: 0;
}

.additional-list__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 46px;
}

.additonal-list__name {
  &:hover span,
  &:focus span {
    border: 1px solid $radio-color-hover;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .additional-list__value:checked + span,
  &:focus .additional-list__value:checked + span {
    border: 1px solid $radio-color-hover;
  }

  &:active .additional-list__value:checked {
    opacity: 0.3;
  }
}

.additonal-list__name span {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid $radio-color;
}

.additional-list__value {
  display: none;
}

.additional-list__value:checked+span {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid $radio-color;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 16px;
    top: 7px;
    left: 5px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .additional-list {
    padding: 0 70px;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 110px;
    padding-bottom: 54px;
  }

  .additional-list__item {
    width: 36%;
    font-size: 20px;
    line-height: 20px;
  }
}
