.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  text-align: left;
  font-size: 36px;
  line-height: 47px;
  font-weight: 400;
  height: 47px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 24px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $border-catalog-top;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 185px;
  padding: 0 20px;
  margin-bottom: 24px;
  border-top: 1px solid $border-catalog-top;
}

.catalog__wrapper {
  display: flex;
  width: 100%;
}

.catalog__content-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.catalog__name {
  width: 75px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 18px;
}

.catalog__characteristics {
  font-family: $side-text;
  color: $text-black;
  font-size: 12px;
  line-height: 12px;
  border-spacing: 0;
}

.catalog__value {
  text-align: right;
}

.catalog__button {
  width: 100%;
}

.catalog__showmore-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 208px;
  width: 100%;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 50% 26px;
}

.catalog__showmore-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  margin: 0;
  padding-top: 84px;
  padding-bottom: 11px;
}

.catalog__showmore-text {
  font-family: $side-text;
  font-size: 12px;
  line-height: 16px;
  color: $text-black;
  margin: 0;
  padding-bottom: 22px;
}

.catalog__showmore-button {
  background-color: $grey;
  color: $text-black;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  min-height: 14px;
  padding-top: 12px;
  padding-bottom: 12px;

  &:hover,
  &:focus {
    background-color: $button-hover-focus;
  }

  &:active {
    background-color: $button-hover-focus;
    color: $button-text-active;
  }

  &a:visited {
    color: inherit;
  }
}

.catalog__link:visited {
  color: inherit;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 30px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 75px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: none;
  }

  .catalog__item {
    justify-content: flex-end;
    min-height: 514px;
    min-width: 324px;
    border: none;
    padding: 0;
    background: linear-gradient(to top, $grey 81%, $white 19%);
  }

  .catalog__item:last-child {
    background: none;
    background-color: $white;

    justify-content: flex-end;
  }

  .catalog__showmore-block {
    min-height: 415px;
    justify-content: flex-end;
    text-align: center;
    border: 1px solid $border-grey;
    background-position: 50% 60px;
  }

  .catalog__showmore-title {
    font-size: 20px;
    line-height: 20px;
    max-width: 150px;
    padding-bottom: 29px;
  }

  .catalog__showmore-text {
    font-size: 16px;
    max-width: 180px;
    padding-bottom: 84px;
  }

  .catalog__showmore-button {
    width: 76%;
    margin-bottom: 40px;
  }

  .catalog__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .catalog__content-wrapper {
    width: 76%;
  }

  .catalog__link {
    align-self: center;
  }

  .catalog__name {
    text-align: center;
    width: 125px;
  }

  .catalog__characteristics {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 32px;
  }

  .catalog__characteristics tr {
    height: 31px;
  }

  .catalog__field,
  .catalog__value {
    border-bottom: 1px solid $border-catalog-table;
  }

  .catalog__button {
    width: 77%;
    margin-bottom: 40px;

  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 40px;
  }

  .catalog__item {
    min-width: 245px;
  }
}
