.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  min-width: 280px;
  min-height: 552px;
  padding-left: 20px;
  padding-right: 20px;
}

.categories__item {
  background-color: $grey;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.categories__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  padding-left: 91px;
  margin-top: 40px;
}

// .categories__item::before {
//   content: "";
//   display: block;
//   width: 50px;
//   height: 50px;
//   background-color: $green;
//   position: absolute;
//   top: 25px;
//   left: 20px;
//   border-radius: 50%;

// }

.categories__img-background {
  display: block;
  width: 50px;
  height: 50px;
  background-color: $green;
  position: absolute;
  top: 26px;
  left: 20px;
  border-radius: 50%;
}

.categories__item--weight-loss::before {
  content: "";
  background-image: url("../img/icon-cat-slim.svg");
  background-size: 35px 49px;
  background-position: 10px 0;
  background-repeat: no-repeat;
}

.categories__item--gain-weight::before {
  content: "";
  background-image: url("../img/icon-cat-pro.svg");
  background-size: 67px 28px;
  background-position: -15px 10px;
  background-repeat: no-repeat;
}

.categories__text {
  font-family: $side-text;
  padding-left: 20px;
  padding-right: 35px;
  color: $text-black;
}

.categories__button {
  display: flex;
  align-items: center;
  min-width: 240px;
  height: 57px;
  text-transform: uppercase;
  color: $black;
  margin-left: 20px;
  border-top: 1px solid $border-grey;
}

// .categories__button:hover,
// .categories__button:focus {

// }

.categories__button:active {
  opacity: 0.3;
}

.categories__button img {
  padding-left: 12px;
}

@media (min-width: $tablet-width) {
  .categories {
    min-height: 775px;
  }

  .categories__item {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .categories__title,
  .categories__text,
  .categories__button {
    max-width: 390px;
  }

  .categories__img-background {
    width: 200px;
    height: 200px;
    top: 20%;
    left: 65%;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    flex-direction: row;
    justify-content: space-around;
  }

  .categories__item {
    max-width: 570px;
    min-height: 370px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .categories__title,
  .categories__text,
  .categories__button {
    max-width: 390px;
    align-self: flex-start;
  }

  .categories__img-background {
    width: 100px;
    height: 100px;
    top: 20%;
    left: 15%;
  }

  .categories__title {
    align-self: center;
  }

  .categories__text {
    padding-left: 15%;
  }

  .categories__button {
    border: none;
    padding-left: 15%;
    margin: 0;
  }
}
