.contacts {
  min-height: 477px;
}

.contacts__wrapper {
  min-height: 114px;
  padding: 0 20px;

  display: flex;
  align-items: center;
}

.contacts__title {
  width: 50%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.contacts__text {
  width: 50%;
  font-family: $side-text;
  line-height: 20px;
}

.contacts__map {
  min-height: 362px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 50%, bottom;
  background-size: 55px 53px, 320px 362px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}
