.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  min-height: 104px;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 30px;
}

.contacts-list__item {
  position: relative;
  min-height: 45px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  word-wrap: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;

  & span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 16px;
  }

  &:active svg {
    fill: $green;
  }
}

.contacts-list__value {
  height: 39px;
  width: 100%;
  padding-left: 15px;
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid $border-grey;

  &:hover {
    border: 1px solid $border-catalog-table;
  }

  &:focus {
    border: 1px solid $border-catalog-table;
    outline: none;
  }

  &:active {
    border: 2px solid $text-black;
    outline: none;
  }

  &:invalid {
    border: 2px solid $error-color;
    outline: none;
  }

  &:invalid+.contacts-list__image svg {
    fill: $error-color;
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    min-height: 124px;
    margin: 0;
    padding: 0 70px;
    padding-bottom: 69px;
  }

  .contacts-list__item {
    font-size: 20px;
    line-height: 20px;
    min-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    min-height: auto;
    flex-direction: row;
    padding: 0 40px;
    padding-bottom: 70px;
  }

  .contacts-list__item {
    width: 570px;
  }
}

