.copyright__text {
  font-size: 16px;
  line-height: 16px;
  color: $text-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  color: inherit;
}

.copyright__image {
  fill: $icon-color;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-right: 22px;
  }
}
