.copyright__text {
  font-size: 16px;
  line-height: 16px;
  color: $text-black;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  color: inherit;
}

.copyright__image {
  &:hover path,
  &:focus path {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}
