.example {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.example__title {
  text-align: left;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 41px;
}

.example__text {
  font-family: $side-text;
  padding-right: 10px;
  color: $text-black;
  margin: 0;
  margin-bottom: 40px;
}

.example__stats {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.example__expenses {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 38px;
  margin-bottom: 44px;
}

.example__interactive {
  display: flex;
  flex-direction: column;
}

.example__image {
  align-self: center;
}

.example__slider {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin-top: 35px;
  margin-bottom: 31px;
}

.example__before,
.example__after {
  border-bottom: 1px dashed $border-example-normal;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid $border-example-hover;
  }

  &:active {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .example {
    // min-height: 1082px;
    border-top: 1px solid $border-grey;
    background-color: $white;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 52px;
    padding-bottom: 60px;
  }

   .example__text {
     font-size: 16px;
     line-height: 24px;
     padding-right: 30px;
     margin-bottom: 60px;
   }

  .example__stat-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__stats {
    min-width: 384px;
  }

  .example__expenses {
    max-width: 192px;
    font-size: 20px;
    text-align: right;
    margin: 0;
  }

  .example__interactive {
    background: linear-gradient(to top, $grey 50%, $white 50%);
  }
}

@media (min-width: $desktop-width) {
  .example {
    flex-direction: row;
    justify-content: space-around;
  }

  .example__text-container {
    display: flex;
    flex-direction: column;
    width: 440px;
  }

  .example__stat-wrapper {
    display: block;
  }

  .example__expenses {
    max-width: none;
    text-align: center;
  }

}
