.example {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.example__title {
  text-align: left;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 41px;
}

.example__text {
  font-family: $side-text;
  padding-right: 10px;
  color: $text-black;
  margin: 0;
  margin-bottom: 40px;
}

.example__stats {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.example__expenses {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 38px;
  margin-bottom: 44px;
}

.example__interactive {
  display: flex;
  flex-direction: column;
  min-height: 330px;
}

.example__interactive--before {
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 311px 232px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
  }
}

.example__interactive--after {
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 240px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/after-mobile@2x.png");
  }
}

.example__image {
  align-self: center;
}

.example__slider {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: 31px;
}

.example__before,
.example__after {
  border-bottom: 1px dashed $border-example-normal;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid $border-example-hover;
  }

  &:active {
    border: none;
  }
}

.example__slider-wrapper {
  position: relative;
  align-self: center;
  height: 12px;
  width: 84px;
  background-color: $white;
  border: 1px solid $border-catalog-table;
  border-radius: 25px;
}

.slider__cursor {
  position: absolute;
  display: block;
  width: 35px;
  height: 6px;
  background-color: $green;
  border-radius: 25px;
  top: 3px;
  left: 5px;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid $border-grey;
    background: linear-gradient(to bottom, $white 58%, $grey 42%);
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 52px;
    padding-bottom: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    margin-bottom: 60px;
  }

  .example__stat-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__stats {
    min-width: 384px;
  }

  .example__expenses {
    max-width: 192px;
    font-size: 20px;
    text-align: right;
    margin: 0;
  }

  .example__interactive {
    min-height: 670px;
  }

  .example__interactive--before {
    background-image: url("../img/before-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 677px 499px;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .example__interactive--after {
    background-image: url("../img/after-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 517px;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
    }
  }

  .example__slider-wrapper {
    height: 6px;
    width: 428px;
    background-color: $slider-background;
    border: none;
  }

  .slider__cursor {
    display: block;
    width: 34px;
    height: 34px;
    background-color: $white;
    border: 1px solid $slider-cursor-background;
    border-radius: 50px;
    top: -15px;
    left: 45%;
    box-shadow: 0 3px 8px 1px $slider-cursor-background;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      background-color: $green;
      top: 38%;
      left: 38%;
      border-radius: 50px;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 8px 1px $border-example-normal;
    }

    &:active {
      border: 2px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    flex-direction: row;
    border: none;
    padding: 0 40px;
    background: linear-gradient(to top, $grey 68%, $white 32%);
  }

  .example__title {
    padding-bottom: 142px;
  }

  .example__text {
    margin-bottom: 72px;
  }

  .example__text-container {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin-right: 130px;
  }

  .example__stat-wrapper {
    display: block;
    margin-bottom: 72px;
  }

  .example__expenses {
    max-width: none;
    text-align: center;
  }

  .example__wrapper {
    margin-bottom: 62px;
  }

  .example__interactive {
    width: 50%;
  }

  .example__interactive--before {
    background-image: url("../img/before-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 499px;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
    }
  }

  .example__interactive--after {
    background-image: url("../img/after-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 100% 517px;
    background-position: 50% 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@2x.png");
    }
  }
}
