.info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  min-height: 163px;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 23px;
  border-bottom: 1px solid $border-catalog-top;
}

.info-list__item {
  text-transform: uppercase;
  min-height: 45px;
  display: flex;
  align-items: center;
}

.info-list__name,
.info-list__value {
  font-size: 16px;
  line-height: 18px;
}

.info-list__name {
  white-space: nowrap;
}

.info-list__value {
  height: 39px;
  width: 100%;
  padding-left: 15px;
  margin-left: 10px;
  border: 1px solid $border-grey;

  &:hover {
    border: 1px solid $border-catalog-table;
  }

  &:focus {
    border: 1px solid $border-catalog-table;
    outline: none;
  }

  &:active {
    border: 2px solid $text-black;
    outline: none;
  }

  &:invalid {
    border: 2px solid $error-color;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .info-list {
    padding: 0 70px;
    margin-bottom: 72px;
    border: none;
  }
}
