.landing-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 480px;
  margin-bottom: 22px;


  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-size: 280px 270px, 320px 305px;
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 80%, 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 480px;
    background: linear-gradient(to bottom, $green 62%, $white 38%);
  }
}

.landing-block__title {
  width: 280px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin-top: 29px;
  margin-bottom: 23px;
}

.landing-block__slogan {
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.landing-block__button {
  text-transform: uppercase;
  background-color: $green;
  width: calc(100% - 40px);
  min-height: 40px;
  color: $white;
  line-height: 40px;
  margin-top: 300px;
}

.button--green:hover,
.button--green:focus {
  background-color: $green-focused;
}

.button--green:active {
  color: $text-hover;
}

.landing-block__button a:visited {
  color: inherit;
}


@media (min-width: $tablet-width) {
  .landing-block {
    align-items: flex-start;
    padding-left: 120px;
    min-height: 823px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-size: 709px 609px;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }

    &::after {
      display: none;
    }
  }

  .landing-block__title {
    color: $black;
    width: auto;
    max-width: 427px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .landing-block__slogan {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 48px;
  }

  .landing-block__img {
    align-self: center;
    order: 3;
  }

  .landing-block__button {
    max-width: 245px;
    font-size: 20px;
    line-height: 52px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .landing-block {
    padding: 130px 40px 0 40px;
    margin-bottom: 80px;
    min-height: 558px;

    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 66% 80%, 100% 0;
    background-size: 552px 499px, 650px 696px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      min-height: 1110px;
      background-color: $green;
    }
  }

  .landing-block__title,
  .landing-block__slogan {
    padding-left: 80px;
  }

  .landing-block__title {
    margin-top: 83px;
    margin-bottom: 34px;
  }

  .landing-block__slogan {
    margin-bottom: 53px;
  }

  .landing-block__button {
    margin-left: 80px;
  }
}
