.landing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 480px;
  margin-bottom: 22px;

  background: linear-gradient(to bottom, $green 100%);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.landing-block__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin-top: 29px;
  margin-bottom: 23px;
}

.landing-block__slogan {
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.landing-block__button {
  display: flex;
  text-transform: uppercase;
  background-color: $green;
  width: calc(100% - 40px);
  min-height: 40px;
  color: $white;
  align-items: center;
  justify-content: center;
}

.button--green:hover,
.button--green:focus {
  background-color: $green-focused;
}

.button--green:active {
  color: $text-hover;
}

.landing-block__button a:visited {
  color: inherit;
}


@media (min-width: $tablet-width) {
  .landing-block {
    background: none;
    align-items: flex-start;
    padding-left: 120px;
  }

  .landing-block__title {
    color: $black;
    max-width: 427px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .landing-block__slogan {
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }

  .landing-block__img {
    align-self: center;
    order: 3;
  }

  .landing-block__button {
    max-width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding: 6px 0;
  }
}

@media (min-width: $desktop-width) {
  .landing-block {
    padding: 130px 40px 0 40px;
    margin-bottom: 80px;

    background: linear-gradient(to bottom, $green 100%);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 650px 696px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .landing-block__title,
  .landing-block__slogan {
    padding-left: 80px;
  }

  .landing-block__button {
    margin-left: 80px;
  }
}
