.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;

  min-height: 262px;
  padding: 11px 20px 16px 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.page-header__logo {
  height: 52px;
  padding-top: 13px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: auto;
    margin-top: 20px;
    margin-bottom: 29px;
    padding: 0 30px;
  }

  .page-header__logo {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header--desktop-position {
    position: absolute;
    z-index: 1;
  }

  .page-header {
    width: $desktop-width - 80px;
    margin-top: 50px;
    padding: 0 3%;
  }
}
