.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;

  min-height: 262px;
  padding: 11px 20px 16px 20px;
  padding-bottom: 0;
  padding-top: 0;
}

.page-header__logo {
  height: 52px;
  padding-top: 13px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav {
  padding-top: 21px;
  height: 44px;
}

.main-nav__list {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  left: 0;
  top: 65px;
  text-align: center;
  min-width: 320px;


  text-transform: uppercase;
  color: $black;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid $border-grey;
}

.main-nav__toggler {
  background-color: transparent;
  border: 0;
}

.site-list__item {
  border-bottom: 1px solid $border-grey;
  padding-top: 24px;
  padding-bottom: 20px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  & a:visited {
    color: inherit;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 120px;
  }

  .main-nav {
    padding: 0;
  }

  .main-nav__list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    min-width: 480px;
  }

  .main-nav__toggler {
    display: none;
  }

  .site-list__item {
    border: 0;
  }
}

// @media (min-width: $desktop-width) {
// }

.site-list__item--active {
  border-bottom: 2px solid $green;
}
