.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey;
  padding-top: 39px;
  padding: 0 20px;
}

.page-footer__image {
  padding-bottom: 31px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  display: flex;
  min-width: 280px;
  list-style: none;
  border-top: solid 1px $border-grey;
  border-bottom: solid 1px $border-grey;
  padding: 26px 0 24px 0;
  margin: 0;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
  padding-top: 22px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 30px;
  }

  .page-footer__image {
    padding: 0;
  }
}
