// colors
$white: #ffffff;
$green: #68b738;
$green-focused: #5eaa2f;
$grey: #f2f2f2;
$black: #111111;
$border-grey: #d9d9d9;
$text-black: #444444;
$text-hover: #8fc46e;
$button-hover-focus: #ebebeb;
$button-text-active: #b9b9b9;
$border-example-normal: #bebebe;
$border-example-hover: #989898;


//font-family
$side-text: "Arial", sans-serif;

//viewport width
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
